Repository Act-Aks/actlib, changes with the labels that .github/labeler.yml gives for each.
All labels: eslint-config, rn-bottom-sheet

chore: pin dependency versions to exact numbers
  package.json
  packages/eslint-config/package.json
  packages/rn-bottom-sheet/package.json
  yarn.lock
Labels: eslint-config, rn-bottom-sheet

chore: update yarn to version 4.9.1
  .yarn/releases/yarn-4.9.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Labels: none

fix: update Act-Aks/cached-setup to v1.1.1 in workflows and bump ver
  .github/workflows/code-quality.yml
  .github/workflows/release.yml
Labels: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/rn-bottom-sheet/CHANGELOG.md
Labels: eslint-config, rn-bottom-sheet

fixup: update dependencies to latest versions
  package.json
  packages/eslint-config/package.json
  yarn.lock
Labels: eslint-config

fix: update dependencies to latest versions and bump new version
  package.json
  packages/eslint-config/package.json
  yarn.lock
Labels: eslint-config

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/rn-bottom-sheet/CHANGELOG.md
Labels: eslint-config, rn-bottom-sheet

feat(rn-carousel): add carousel component with animations and autoplay
  .gitignore
  packages/rn-carousel/.swcrc
  packages/rn-carousel/README.md
  packages/rn-carousel/eslint.config.mjs
  packages/rn-carousel/package.json
  packages/rn-carousel/rollup.config.cjs
  packages/rn-carousel/src/components/Carousel/Carousel.hooks.ts
  packages/rn-carousel/src/components/Carousel/Carousel.static.ts
  packages/rn-carousel/src/components/Carousel/Carousel.tsx
  packages/rn-carousel/src/components/Carousel/CarouselItem/CarouselItem.static.ts
  packages/rn-carousel/src/components/Carousel/CarouselItem/CarouselItem.tsx
  packages/rn-carousel/src/components/index.ts
  packages/rn-carousel/src/index.ts
  packages/rn-carousel/tsconfig.json
  packages/rn-carousel/tsconfig.lib.json
  tsconfig.json
  yarn.lock
Labels: none

docs(rn-carousel): add package metadata and README file
  packages/rn-carousel/README.md
  packages/rn-carousel/package.json
Labels: none

fix: update react-native peer dependency to >=0.79
  packages/rn-carousel/package.json
Labels: none

chore: update react-native peer dependency to >=0.79
  yarn.lock
Labels: none

chore(release): publish
  packages/rn-bottom-sheet/CHANGELOG.md
  packages/rn-carousel/CHANGELOG.md
Labels: rn-bottom-sheet

docs(rn-carousel): add animation gifs and update README
  README.md
  packages/rn-carousel/CHANGELOG.md
  packages/rn-carousel/README.md
  packages/rn-carousel/src/assets/page.gif
  packages/rn-carousel/src/assets/slide.gif
Labels: none

chore(release): publish
  packages/rn-carousel/CHANGELOG.md
Labels: none

docs(rn-carousel): update README with proper image tags
  packages/rn-carousel/README.md
Labels: none

chore(release): publish
  packages/rn-carousel/CHANGELOG.md
Labels: none

docs(rn-carousel): update animation types section in README
  packages/rn-carousel/README.md
Labels: none

chore(release): publish
  packages/rn-carousel/CHANGELOG.md
Labels: none

docs(rn-carousel): simplify animation types section in README
  packages/rn-carousel/README.md
Labels: none

chore(release): publish
  packages/rn-carousel/CHANGELOG.md
Labels: none

docs(rn-carousel): update package name and import syntax in README
  packages/rn-carousel/README.md
Labels: none

chore(release): publish
  packages/rn-carousel/CHANGELOG.md
Labels: none

chore: update dependencies to their latest versions
  package.json
  packages/eslint-config/package.json
  packages/rn-bottom-sheet/package.json
  packages/rn-carousel/package.json
  yarn.lock
Labels: eslint-config, rn-bottom-sheet

chore: update libs
  package.json
  packages/eslint-config/package.json
  yarn.lock
Labels: eslint-config

chore: update nx and related dependencies to v21.0.0
  nx.json
  package.json
  yarn.lock
Labels: none

build: update dependencies to latest versions
  package.json
  packages/eslint-config/package.json
  yarn.lock
Labels: eslint-config

fix: remove @typescript-eslint/utils dependency from yarn.lock
  yarn.lock
Labels: none

build(eslint-config): add @typescript-eslint/utils dependency
  packages/eslint-config/package.json
  yarn.lock
Labels: eslint-config

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/rn-bottom-sheet/CHANGELOG.md
  packages/rn-carousel/CHANGELOG.md
Labels: eslint-config, rn-bottom-sheet

chore: update nx libs
  package.json
  yarn.lock
Labels: none

chore: update dependencies to latest versions
  package.json
  yarn.lock
Labels: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
Labels: eslint-config

chore: update dependencies to latest versions
  package.json
  packages/eslint-config/package.json
  yarn.lock
Labels: eslint-config

chore: update .gitignore and VSCode settings
  .gitignore
  .vscode/settings.json
Labels: none

chore: update dependencies to latest versions
  package.json
  yarn.lock
Labels: none

chore: update dependencies to latest versionschore: update dependencies to latest versions
  package.json
  packages/eslint-config/package.json
  packages/rn-bottom-sheet/package.json
  packages/rn-carousel/package.json
  yarn.lock
Labels: eslint-config, rn-bottom-sheet

chore: update dependencies to latest versions
  package.json
  packages/eslint-config/package.json
  yarn.lock
Labels: eslint-config

.github/labeler.yml:

eslint-config:
    - changed-files:
          - any-glob-to-any-file: packages/eslint-config/**

rn-bottom-sheet:
    - changed-files:
          - any-glob-to-any-file: packages/rn-bottom-sheet/**
